@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #fff;
    --primary: #0077b6;
    --primary-darken: #00527f;
    --primary-lighten: #00a7dd;
    --primary-text: #2d333d;
    --secondary-text: #383d47;
    --mute: #96999e;
    --mute-200: #acaeb2;
    --grey: #f5f5f5;
    --grey-200: #eaeaeb;
    --grey-300: #d5d5d5;
    --grey-400: #abadb1;
    --grey-500: #96999e;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply min-h-screen bg-background font-body text-primary-text antialiased;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }

  .container-sm {
    @apply container max-w-[970px];
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading;
  }

  u {
    @apply decoration-primary;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .link {
    @apply hover:text-primary-lighten;
  }
}
